# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

# See https://docs.npmjs.com/trusted-publishers

name: Publish to NPM
on:
  push:
    tags:
      - "**@*"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write # Required for OIDC

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: echo "pkg_name=${GITHUB_REF_NAME##*@}" >> "$GITHUB_ENV"
      - run: echo "pkg_version=${GITHUB_REF_NAME%@*}" >> "$GITHUB_ENV"
      - name: Generate types
        run: node --run types:generate
      - name: Publish $pkg_name $pkg_version with provenance
        run: npm publish --workspace="packages/$pkg_name"
