# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

# See https://docs.npmjs.com/trusted-publishers

name: Publish to NPM
on:
  push:
    tags:
      - "**@*"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write # Required for OIDC

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: echo "pkg_name=${GITHUB_REF_NAME##*@}" >> "$GITHUB_ENV"
      - run: echo "pkg_version=${GITHUB_REF_NAME%@*}" >> "$GITHUB_ENV"
      - name: Generate types
        run: node --run types:generate
      - name: Publish $pkg_name $pkg_version with provenance
        run: npm publish --workspace="packages/$pkg_name"
