# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: PR Checks

on:
  pull_request:
    branches:
      - main
    types:
      - edited
      - opened
      - reopened
      - synchronize

permissions:
  pull-requests: read

jobs:
  check-title:
    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'pull_request' || !github.event.pull_request.draft }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Check prefix
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: node ./test/pull-request.mjs
