# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: PR Checks

on:
  pull_request:
    branches:
      - main
    types:
      - edited
      - opened
      - reopened
      - synchronize

permissions:
  pull-requests: read

jobs:
  check-title:
    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'pull_request' || !github.event.pull_request.draft }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Check prefix
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: node ./test/pull-request.mjs
